@model MediaPustaka.net.Models.BooksModel

@{
    ViewBag.Title = "Details";
}

<nav class="navbar navbar-default" style="margin-bottom:-5px;">
    <div class="container-fluid">
        <div class="navbar-header" style="padding-left: 10px">
            <button type="button" class="btn btn-default navbar-btn pull-left" onclick="location.href='@Url.Action("Index", "Books")';return false;">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </button>
            <div class="navbar-text navbar-brand-centered"><h3>@ViewBag.Category</h3></div>
        </div>
    </div>
</nav>


<div class="container">
    <div class="card">
        <div class="container-fliud">
            <div class="wrapper row">
                <div class="preview col-md-6">
                    <div class="preview-pic tab-content">
                        <div class="tab-pane active" id="pic-1"><img src="https://www.kaft.com/static/images/cache/313/tisort_ozgurruh_1990_313_313.jpg?cacheID=1429301256000" /></div>
                    </div>
                </div>
                <div class="details col-md-6">
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-list-alt"></span>Title</div></h3>
                        <hr>
                        <h4> @Html.DisplayFor(model => model.Title)</h4>
                    </div>
                    <div class="panel panel-default text-center">
                                           <div class="rating">
                            <h3><div class="panel-title"><span class="glyphicon glyphicon-info-sign"></span>Info</div></h3>
                            <hr>
                                               
                            <h4><span style="font-size:14px; color:darkblue">Author : </span>@Html.DisplayFor(model => model.Author)  <span style="font-size:14px; color:darkblue">Genre : </span> @Html.DisplayFor(model => model.Genre)</h4>
                        </div>
                    </div>
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-comment"></span>Synopsis</div></h3>
                        <hr>
                        <h4>@Html.DisplayFor(model => model.Sinopis)</h4>
                    </div>
                    <div class="panel panel-default text-center">
                        <h3><div class="panel-title"><span class="glyphicon glyphicon-credit-card"></span>Price</div></h3>
                        <hr>
                        <h2><font color="purple">Rp. @Html.DisplayFor(model => model.Price)</h2></font>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-lg btn-add-to-cart" onclick="location.href='@Url.Action("Add", "Books", new { id = ViewBag.ID })';return false;">
                            <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<br>

