@model MediaPustaka.net.Models.BooksModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>BooksModel</h4>
    <hr />
   
<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default  panel--styled">
            <div class="panel-body">
                <div class="col-md-12 panelTop">
                    <div class="col-md-4">
                        <img class="img-responsive" src="http://placehold.it/350x350" alt="" />
                    </div>
                    <div class="col-md-8">
                        <h2 style="margin-top:0px;"><span style="font-size:48px; color:orangered">"</span> @Html.DisplayFor(model => model.Title) <span style="font-size:48px; color:orangered">"</span></h2>
                        <h4><span style="font-size:14px; color:darkblue">by : </span>@Html.DisplayFor(model => model.Author)  <span style="font-size:14px; color:darkblue">genre : </span> @Html.DisplayFor(model => model.Genre)</h4>
                        <p style="text-align:justify">@Html.DisplayFor(model => model.Sinopis)</p>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="col-md-4 text-center">
                        <button class="btn btn-lg btn-add-to-cart"  onclick="location.href='@Url.Action("Add", "Books", new { id = ViewBag.ID })';return false;">
                            <span class="glyphicon glyphicon-shopping-cart"></span>Add to Cart
                        </button>
                    </div>
                    <div class="col-md-4 text-left">
                        <h5>Price <span class="itemPrice">Rp. @Html.DisplayFor(model => model.Price)</span></h5>
                    </div>
                    <div class="col-md-4">
                        <p class="pull-right"><span style="font-size:14px; color:darkblue">Stok :</span>  @Html.DisplayFor(model => model.Stock) <span style="font-size:14px; color:darkblue">Kasir :</span> @Html.DisplayFor(model => model.Shelves)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>