@model IEnumerable<MediaPustaka.net.Models.BooksModel>

@{
    ViewBag.Title = "Index";
}

<script>
    //$(document).ready(function () {
    //    $('#myCarousel').carousel({
    //        interval: 10000
    //    })
    //    $('.fdi-Carousel .item').each(function () {
    //        var next = $(this).next();
    //        if (!next.length) {
    //            next = $(this).siblings(':first');
    //        }
    //        next.children(':first-child').clone().appendTo($(this));

    //        if (next.next().length > 0) {
    //            next.next().children(':first-child').clone().appendTo($(this));
    //        }
    //        else {
    //            $(this).siblings(':first').children(':first-child').clone().appendTo($(this));
    //        }
    //    });
    //});
</script>

<div style="margin-top: 25px;"></div>

<!-- #region NOT FUNTIONAL -->
@*<div class="slider">
        <div class="slider-row"></div>
    </div>

    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="box"></div>
                <div class="carousel-caption">
                    <h3>First Text</h3>
                </div>
            </div>
            <div class="item">
                <div class="box"></div>
                <div class="carousel-caption">
                    <h3>Second Text</h3>
                </div>
            </div>
            <div class="item">
                <div class="box"></div>
                <div class="carousel-caption">
                    <h3>Third Text</h3>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div> <!-- Carousel -->*@


@*<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
        <!-- Overlay -->
        <div class="overlay"></div>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
            <li data-target="#bs-carousel" data-slide-to="1"></li>
            <li data-target="#bs-carousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item slides active">
                <div class="slide-1"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are creative</h1>
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-2"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are smart</h1>
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
            <div class="item slides">
                <div class="slide-3"></div>
                <div class="hero">
                    <hgroup>
                        <h1>We are amazing</h1>
                        <h3>Get start your next awesome project</h3>
                    </hgroup>
                    <button class="btn btn-hero btn-lg" role="button">See all features</button>
                </div>
            </div>
        </div>
    </div>*@

<!-- #endregion -->
<!-- #region NOT FUNTIONAL -->

@using (Html.BeginForm("Search", "Books", FormMethod.Get))
{
    //the following are search options
    <b> Search Option: </b>
        @Html.DropDownList("option",
                            new SelectList(ViewBag.Option),
                            "Select Option",
                            new { @class = "form-control" })
        <text>Subject</text> @Html.TextBox("search")
        <input type="submit" name="submit" value="Search" />
}

<!-- #endregion -->

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 margin-bot">
            <div class="thumbnail">
                <img src="http://placehold.it/350x222" alt="">
                <div class="caption">
                    <h4 class="pull-right">Rp. @Html.DisplayFor(modelItem => item.Price)</h4>
                    <h4>@Html.DisplayFor(modelItem => item.Title)</h4>
                    <p>See more snippets like this online store item at <a target="_blank" href="http://www.bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
                </div>
                <div class="ratings">
                    <p>
                        @Html.ActionLink("Add", "Add", new { id = item.Id_Book }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </p>
                </div>
            </div>
        </div>
    }
</div>